* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*  nav   inicio*/
.nav {
    /*position: absolute;*/
    width: 100%;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    z-index: 999;
    
}
.nav .menu li{
    list-style: none;
    display: inline-block;
}
.nav .menu li a{
    color: #330F4F; /*cor das letrinhas do nav(inicio,sobre)*/
    font-size: 18px;
    font-weight:1000;
    margin-left: 25px;
    font-family: 'Dosis', sans-serif;
    
}


/*  sessão footer  */
footer{
        
    height: 10%;
    background: #330F4F;
    padding: 20px ;
    color: #fff;
    text-align: center;
}
footer span a{
    color: #ffffff;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}

