    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
    }
    html{
        scroll-behavior: smooth;
    }
    .max-width{/*Posição da logo*/
        max-width: 1300px;
        padding: 0 80px;
        margin: auto;
    }
    h3 {
        font-family: 'Dosis', sans-serif;
        
    }
    
    /*  nav   inicio*/
    .nav{
        position: absolute;
        width: 100%;
        padding: 25px 0px;
        font-family: 'Ubuntu', sans-serif;
        z-index: 999;
        
    }
    .nav .max-width{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .nav .logo a{
        color:#751d75;
        font-size: 35px;
        font-weight: 500;
        min-height: 10em;
    }
    .nav .menu li{
        list-style: none;
        display: inline-block;
    }
    .nav .menu li a{
        color: rgb(255, 255, 255); /*cor das letrinhas do nav(inicio,sobre)*/
        font-size: 22px;
        font-weight: 999;
        margin-left: 25px;
        font-family: 'Dosis', sans-serif, bold;
        padding: -3px;
        letter-spacing: 2px;
    
    }

  
    .nav .menu li a:hover{/*cor das letrinhas do nav ao passar o mouse (inicio,sobre)*/
        color:  #d443d4; 
        background: none;
    }

    /*  Home   inicio  */
    .home{
        display: flex;
        background-image : url('../img/banner.jpg');
        background-size: cover;
        height: 100vh;
        color: rgb(255, 255, 255);
        min-height: 400px;
        font-family: 'Kanit', sans-serif;
    }
    
    .home .max-width{
        margin: auto 0 auto 40px;
      /*Cor e tamanho das letras do titulo da img principal  */
    }
    
    .home .home-content .text-1{
        letter-spacing: 0px;
        font-size: 59px;
        font-weight: 500;
        margin-left: auto;
        font-family: 'Kanit', sans-serif;
        color: white;
        font-weight: 500;
        padding: -5px;
        
    }

    .home .home-content .text-2{
        font-size: 25px;
        margin: 3px 0px;
        color:#ffffff;
    }

    .home .home-content a{
        display: inline-block;
        background:#751d75;
        color: rgb(10, 10, 10);
        font-size: 25px;
        padding: 12px 36px;
        margin-top: 20px;
        border-radius: 6px;
        border: 2px solid #751d75;
    }
    .home .home-content a:hover{
        color:#751d75;
        background: none;
    }

     /*  todos os codigos similares  */
    .column .rigth.h3 {
        width: 800px;
    }
    
     section{
        padding: 100px 0;
        
    }
    section .title{/* metaverso*/
        font-family: 'Dosis', sans-serif;
        text-align: center;
        font-size: 40px;
        font-weight: 500;
        margin-bottom: 60px;
        padding-bottom: 20px;
        position: relative;
        background: #fff;
        color: #330F4F;
        
        
    }
    section .title::before{/*linha que fica entre o titulo do metaverso*/
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 350px;
        height: 2px;
        background: rgb(0, 0, 0);
        transform: translateX(-50%);
     
    }
    section .title::after{
        content: "Metaverso";/*titulo entre as linhas preta*/
        position: absolute;
        bottom: -25px ;
        left: 50%;
        font-size: 43px;
        background: #fff;
        padding: 5px;
        transform: translateX(-50%);
    }
    
    .about, footer{
        font-family: 'Roboto', sans-serif;
    }
    .about .about-content{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }


    /*  sessão metaverso  */
    .about .about-content .left{
        width: 55%;
    }
    .about .about-content .right{
        width: 40%;/* lardura do texto explicando o metaverso*/
        margin-right: 55px;
        padding: -9;
        
    }
    
    .about .about-content .right .text{/*titulo Origem do Metaverso*/
        font-size: 25px;
        font-weight: 500;
        margin-bottom: 10px;   
    
    }
    .about .about-content .right p{
        text-align: justify;
    }
   
    .about .about-content .right a:hover{
        color: #751d75;
        background: none;
    }
    
    .about .about-content .left img{/*imagem*/
        width: 200px;
        height: 390px;
        object-fit: cover;
        border-radius: 10px;
        margin-left:  200px;
    }

    .about .max-width .about-content .right {
        
        background-color: rgb(238, 238, 238);
        padding: 3em;
        border-radius: 15px;
        margin: 0.5em;
        
    }


    /*  sessão footer  */
    footer{
        
        height: 10%;
        background: #330F4F;
        padding: 20px ;
        color: #fff;
        text-align: center;
    }
    footer span a{
        color: #ffffff;
        text-decoration: none;
    }
    footer span a:hover{
        text-decoration: underline;
    }

    /*  responsivo  */
    @media (max-width: 1300px){
        .nav .max-width{
            margin-left: 0;
        }
    }
    @media (max-width: 1104px){
        .resumo .left img{
            width: 350px;
            height: 350px;
        }
    }
    @media (max-width: 991px){
        .nav .max-width{
            padding: 0 50px;
        }
    }
    @media (max-width: 947px){
        .max-width{
            max-width: 800px;
            padding: 0 50px;
        }

        .nav .menu{
            position: fixed;
            width: 100%;
            height: 100vh;
            left: -100%;
            top: 0;
            background: #40054af8;
            padding-top: 80px;
            text-align: center;
        
        }
        
        .nav .menu li a{
            display: inline-block;
            margin: 29px 0;
            font-size: 25px;
        }

    @media (max-width: 690px){
        .home .text-1{
            font-size: 60px;
        }
        .home .text-2{
            font-size: 32px;
        }
        
        
    }
    @media (max-width: 500px){
        .home .text-1{
            font-size: 50px;
        }
        .home .text-2{
            font-size: 27px;
        }
    } 
    }