/* pagina investimentos */


/*Começo do NAVBAR */
.navbar {
    position: absolute;
    align-items: center;
    justify-content: space-between;
    margin-right: 6em;
    margin-top: 3em;
}
.navbar-nav .nav-link  {
    margin-left: 20px;/*espaço entre cada palavra do navbar*/
    letter-spacing: 2px;/*espaço entre cada letra do navbar*/
}
.navbar-light .navbar-nav .nav-link{
    color: #330F4F; /*Cor da letra do navbar*/
    font-size: 22px;/* tamanho das letras do navbar*/
    font-weight: 700;
    font-family: 'Dosis';
}
.navbar-invest .navbar-nav .nav-link {
    color: #330F4F;
}
.navbar-expand-sm .navbar-nav {
    margin-left: 70em;
    margin-top: -3em;
}
.navbar-brand .logoo{
    margin-top: 3em;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #610661; /**ao passar por cima das letras(navbar)*/
    
}
.offcanvas {
    position: fixed;
    bottom: 0;
    z-index: 1045;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    visibility: hidden;
    background-color:#4f1d76;
    background-clip: padding-box;
    outline: 0;
    transition: transform .3s ease-in-out;
}

/*FINAL DO NAVBAR */


 /**parte da imagem**/
.img-fluid { 
    position: static;
    margin-top: 6em;
}

.text-1  {/**titulo metaverso**/
    font-family: 'Dosis';
    background: linear-gradient(180deg, #4d0f43 0%, #B23DC6 78.65%);
    font-family: 'Dosis';
    font-size: 2.2em;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3em;
    margin-right: -15em;
}
.titulo-1{/**titulo metaverso**/
    margin:6em;
    font-family: 'Dosis';
    font-weight: 500;
}

.titulo-2{/**pq invertir no mete.. titulo**/
    font-weight: 300;
    margin: 0;  
    font-family: 'Dosis';
    height: 4em;
    width: 26em;
    margin-left: 2em;
    margin-top: -5em;
}
.titulo-3{
    font-family: 'Dosis';
    height: 4em;
    width: 26em;
    margin-left: 2em;
}

.text-start{/**iMAGEM GRUPO**/
    margin-top: 62em;
}

.text .img-fluid{/**iMAGEM GRUPO**/
    margin: 5em;
}

.mark1{
    font-family: 'Dosis';
    font-weight: 500;
    margin: 6em;
}
.text .img-fluid{/**iMAGEM Mark Zuckerberg**/
    margin-top: -11em;
}

.mark2{
    font-family: 'Dosis';
    height: 4em;
    width: 26em;
    margin-left: 2em;
}
.invest1{
    font-family: 'Dosis';
    font-weight: 500;
    margin: 7em;
}

.textoo{
  font-weight: 300;
  margin: -6em;  
  font-family: 'Dosis';
  height: 4em;
  width: 26em;
  margin-left: 3.5em;

}
.texto{
    font-weight: 300;
    margin: -9em;  
    font-family: 'Dosis';
    height: 4em;
    width: 26em;
    margin-left: 3.5em;
  
}

.titul{
    margin: 2.5em;
    font-family: 'Dosis';
    font-weight: 500;
    margin: 12em;
}

/*  pagina avateres */
.ava1{
    font-family: 'Dosis';
    background: linear-gradient(180deg, #4d0f43 0%, #B23DC6 78.65%);
    font-family: 'Dosis';
    font-size: 2.2em;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 3em; 
    font-size: 3em;
    margin: 3em;
}
.text-avat{
    font-family: 'Dosis';
}





/*  sessão footer  */
footer{
 height: 10%;
 background-color:#330F4F;   
 padding: 20px ;
 color: #fff;
 text-align: center;

     
}
footer span a{
    color: #ffffff;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}
.navbar .container .logo1 {
    margin-left: -3em;
}

 /*Responsividade*/

@media screen and (max-width: 320px) /*celular*/ {
    .titulo-3{
        width: 15em;
        margin-left: 1em;
        margin: 1em;
    }
    .navbar-light .navbar-toggler{
        margin-left: 110px;
        margin-top: 100px;
        position: absolute;
    }

    .img{
        width: 7em;
    }


}
