*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}

h3 {
    font-family: 'Dosis', sans-serif;
}

.max-width{/*Posição da logo*/
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
/*  nav   inicio*/
.nav{
    position: relative;
    width: 100%;
    padding: 0px;
    font-family: 'Ubuntu', sans-serif;
    z-index: 999;
    margin-bottom: 6em;
    
}
.nav .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav .logo a{
    color:#330F4F;
    font-size: 35px;
    font-weight: 500;
    min-height: 10em;
}
.nav .menu li{
    list-style: none;
    display: inline-block;
}
.nav .menu li a{
    font-size: 23px;
    font-weight: 999;
    margin-left: 40px;
    font-family: 'Dosis', sans-serif, bold;
    padding: -5px;
  

}
.conteudo {
    font-size: 18px;
    font-weight: 999;
    margin-left: 40px;
    font-family: 'Dosis', sans-serif;
    padding: 6em;
}
.conteudo .sub {
    position: absolute;
    bottom: 100px ;
    left: 50%;
    font-size: 43px;
    padding: 5px;
    transform: translateX(-50%);
    color: #330F4F;
}

/*Imagens*/
.imagem {
    text-align: center;
    
}




/*  sessão footer  */
footer{
        
    height: 10%;
    background: #330F4F;
    padding: 20px ;
    color: #fff;
    text-align: center;
}
footer span a{
    color: #ffffff;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}

